body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E2D9CD;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .file-upload-container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 18px;
    background-color: #FCF8F0;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .file-upload {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px);
    max-width: 400px;
  }
  
  .file-name {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .class-counts {
    margin-top: 20px;
  }
  
  .header-count {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .class-count {
    font-size: 16px;
    color: #333;
  }
